html {
  background: whitesmoke;
}

/* h1,h2,h3 {
  text-shadow: 1.5px 1.5px 1px #63b496;
} */
.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: white;
}

/* .container h1,p{
  text-align: left;
  
} */
.box-text {
  position: relative;
  max-width: 600px;
  min-width: 400px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 28px;
  text-align: left;
  flex: 4;
}

.box-img {
  flex: 3;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 512px;
  min-width: 279px;
  /* min-width: 100px; */
  padding: 30px 15px;
  margin-bottom: 50px;
}
.box-img img{
  grid: box-img;
  flex: 2;
  width: 100%;
}

.button-register {
  height: 108px;
  color: white;
  width: 100%;
  max-width: 490px;
  min-width: 340px;
  border-radius: 5px;
  border: 2px solid #1dad78;
  background: #1dad78;
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 0.4em 0.4em -0.4em #0e704c;

  transition: all .3s ease;
}

.button-register:hover {
  cursor: pointer;
  transform: translateY(-0.1em);
  box-shadow: 0 0.5em 0.5em -0.2em #0c704b;
  border: 2px solid #1eac78;
}

/* .button-register a {
  text-decoration: none;
} */

.container2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  background: whitesmoke;
  margin-bottom: 10px;
}

h2,
h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 35px;
}

.how-text {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  flex: 4;
  max-width: 300px;
  min-width: 200px;
}

h3 {
  background: white;
  margin-bottom: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}

.btns {
  height: 72px;
  width: 100%;
  min-width: 200px;
  font-size: 32px;
  /* left: 996px;
  top: 1007px; */
  border-radius: 3px;
  background: white;
  color: #3E93A7;
  text-shadow: 0.5px 0.5px 0.5px black;
  border: 1px solid #3E93A7;

  margin: 10px auto;

  transition: all .3s ease;
}

.btns:hover {
  cursor: pointer;
  transform: translateY(-0.2em);
  box-shadow: 0 0.8em 0.8em -0.4em gray;
  border: 1.5px solid gray;
}

.btns a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 400;
}

.container3 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  background: white;
  margin-bottom: 0px;
  padding-bottom: 50px;
  text-align: center;
}

.btns-div {
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: 0px 10px;
}
