html {
  background: whitesmoke;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: white;
}

.box-text {
  position: relative;
  max-width: 600px;
  min-width: 400px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 28px;
  text-align: left;
  flex: 4;
}

.box-img {
  flex: 3;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 40%;
  min-width: 279px;
  /* min-width: 100px; */
  padding: 30px 15px;
  margin-bottom: 10px;
}

.box-img img {
  grid: box-img;
  flex: 2;
  width: 100%;
}

.button-register {
  height: 108px;
  color: white;
  width: 100%;
  max-width: 490px;
  min-width: 340px;
  border-radius: 5px;
  border: 2px solid #1dad78;
  background: #1dad78;
  font-size: 36px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 0.4em 0.4em -0.4em #0e704c;
  transition: all 0.3s ease;
}

.button-register:hover {
  cursor: pointer;
  transform: translateY(-0.1em);
  box-shadow: 0 0.5em 0.5em -0.2em #0c704b;
  border: 2px solid #1eac78;
}

.container2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  background: whitesmoke;
  margin-bottom: 10px;
}

h2,
h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 35px;
}

.how-text {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  flex: 4;
  max-width: 300px;
  min-width: 200px;
}

h3 {
  background: white;
  margin-bottom: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}

.btns {
  height: 72px;
  width: 100%;
  min-width: 200px;
  font-size: 32px;
  border-radius: 3px;
  background: white;
  color: #3e93a7;
  text-shadow: 0.5px 0.5px 0.5px black;
  border: 1px solid #2d8162;
  margin: 10px auto;
  transition: all 0.3s ease;
}

.btns:hover {
  cursor: pointer;
  transform: translateY(-0.2em);
  box-shadow: 0 0.8em 0.8em -0.4em gray;
  border: 1.5px solid #2d8162;
}

.container3 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  background: white;
  margin-bottom: 0px;
  padding-bottom: 50px;
  text-align: center;
}

.btns-div {
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin: 0px 10px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }

  h2,
  h3 {
    text-align: center;
    margin-top: 10px;
    padding: 20px 0;
    font-size: 30px;
  }

  h2 {
    margin-bottom: 0;
  }

  .box-text {
    font-size: 1.6em;
    width: 100%;
    min-width: 430px;
    justify-content: center;
    text-align: left;
  }

  .box-text p,
  h1 {
    text-align: left;
    width: auto;
  }

  .box-text p {
    line-height: 1.5em;
  }

  .button-register {
    height: 88px;
    color: white;
    width: 100%;
    min-width: unset;
    font-size: 1.3em;
  }

  .box-img {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 40px;
  }

  .box-img img {
    max-width: 80%;
  }
  
  .btns {
    height: 64px;
    font-size: 1.7em;
  }
}

@media screen and (max-width: 600px){
  h1 {
    font-size: 1.5em;
  }

  h2,
  h3 {
    margin-top: 10px;
    padding: 15px 0;
    font-size: 1.6em;
  }

  .box-text {
    font-size: 1.4em;
    width: 100%;
    min-width: 250px;
  }

  .button-register {
    height: 70px;
    color: white;
    width: 100%;
    min-width: unset;
    font-size: 1.1em;
  }

  .box-img {
    display: flex;
    justify-content: center;
    max-width: 212px;
    min-width: 50%;
    padding: 0;
    margin-bottom: 25px;
  }

  .how-text p{
    font-size: 17px;
  }

  .btns {
    height: 50px;
    font-size: 1.5em;
  }
  .container3 {
    padding-bottom: 25px;
  }
}
