.content-box {
  /* background-color: whitesmoke; */
  min-height: calc(100vh - 142px);
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: white;
}

.container::after,
.container2::after {
  position: absolute;
  content: "";
  bottom: 0;
  border-bottom: 1px solid black;
  width: 92%;
}

.box-text {
  position: relative;
  max-width: 800px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: xx-large;
  text-align: left;
  flex: 4;
}

.name {
  /* text-transform: capitalize; */
  /* font-style: italic; */
  font-weight: 600;
  padding-left: 15px;
  text-shadow: 0.5px 0.5px 1px #317e67;
}

/* .pLogedIn{
  margin-top: 50px;
} */
#pLetsBegin {
  margin-top: 70px;
}

.box-img {
  flex: 3;
  display: flex;
  justify-content: center;
  max-width: 40%;
  padding: 30px 15px;
  margin-bottom: 10px;
}

.box-img img {
  grid: box-img;
  flex: 2;
  width: 100%;
  opacity: 0.75;
}

.button-register,
.btnChallenges {
  height: 108px;
  color: white;
  width: 100%;
  max-width: 80%;
  border-radius: 5px;
  border: 2px solid #204768;
  background: #204768;
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 0.4em 0.4em -0.4em #0e704c;
  transition: all 0.3s ease;
}

/* .btnChallenges{
  background-color: #204768;
  border: 2px solid#204768;

} */

/* .button-register:hover {
  cursor: pointer;
  transform: translateY(-0.1em);
  box-shadow: 0 0.5em 0.5em -0.2em #0c704b;
  border: 2px solid #1eac78;
} */

.btnChallenges:hover,
.button-register:hover {
  cursor: pointer;
  transform: translateY(-0.1em);
  box-shadow: 0 0.5em 0.5em -0.35em #0c704b;
  border: 2px solid #204768;
}

.container2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  padding-bottom: 50px;
}

h2,
h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 25px;
}

.how-text {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  flex: 4;
  max-width: 25%;
}

h3 {
  margin-bottom: 0;
  padding-bottom: 35px;
}

.btns {
  height: 72px;
  width: 100%;
  min-width: 200px;
  font-size: xx-large;
  font-weight: 600;
  border-radius: 5px;
  background: white;
  color: #204768;
  border: 1px solid #fb6b4a;
  margin: 10px auto;
  transition: all 0.3s ease;
  box-shadow: 0 0.25em 0.25em -0.2em gray;
}

.btns:hover {
  cursor: pointer;
  transform: translateY(-0.2em);
  box-shadow: 0 0.5em 0.5em -0.35em gray;
  /* border: 1.5px solid #2d8162; */
}

.container3 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  background: white;
  margin-bottom: 0px;
  padding-bottom: 50px;
  text-align: center;
}

.btns-div {
  width: 45%;
  max-width: 550px;
  min-width: 212px;
  text-align: center;
  margin: 0px 10px;
}

@media screen and (max-width: 1440px) {
  .content-box {
    min-height: calc(100vh - 112px);
  }

  h1 {
    font-size: 50px;
  }
  .h1LogedIn {
    font-size: 45px;
  }
  .pLogedIn {
    font-size: 25px;
  }

  #pLetsBegin {
    margin-top: 60px;
  }

  .box-text {
    max-width: 600px;
    min-width: 461px;
    margin-right: 5px;
    font-size: 28px;
  }

  .box-text p {
    line-height: 1.3em;
  }
  .box-img {
    min-width: 260px;
  }

  .button-register,
  .btnChallenges {
    height: 88px;
    width: 100%;
    max-width: 75%;
    min-width: 340px;
    font-size: 36px;
  }

  h2,
  h3 {
    font-size: 35px;
  }

  .how-text {
    font-size: 22px;
    max-width: 300px;
    min-width: 200px;
  }

  .btns {
    width: 100%;
    min-width: 200px;
    font-size: 32px;
  }
}

@media screen and (max-width: 1200px) {
  .content-box {
    min-height: calc(100vh - 102px);
  }

  .how-text {
    font-size: 20px;
  }
  .h1LogedIn {
    margin-top: 60px;
    font-size: 40px;
  }

  .pLogedIn {
    font-size: 22px;
  }

  #pLetsBegin {
    margin-top: 50px;
  }
  .box-text p {
    line-height: 1.4em;
    font-size: 25px;
  }
}

@media screen and (max-width: 999px) {
  .how-text {
    margin: 0 67px;
  }
  .h1LogedIn {
    font-size: 37px;
  }

  .pLogedIn {
    font-size: 20px;
  }
}

@media screen and (max-width: 835px) {
  
  .h1LogedIn {
    font-size: 35px;
    margin-top: 40px;
  }
  .button-register,
  .btnChallenges {
    margin-bottom: 25px;
  }

  .how-text {
    margin: 0 50px;
  }

  .box-text h1 {
    width: 90%;
    /* text-shadow: 4px 0 0 white, -4px 0 0 white, 0 4px 0 white, 0 -4px 0 white,
      3px 3px white, -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white; */
  }

  .box-text p {
    width: 85%;
    /* text-shadow: 3px 0 0 white, -3px 0 0 white, 0 3px 0 white, 0 -3px 0 white,
      2px 2px white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white; */
  }

  #pLetsBegin {
    margin-top: 40px;
  }

  .button-register,
  .btnChallenges {
    height: 88px;
    width: 70%;
    min-width: unset;
    font-size: 1.3em;
  }

  /*--------- This is setting a background picture of planet Earth */
  .container::before {
    position: absolute;
    content: "";
    background-image: url("earth.png");
    margin: 10px 5px;
    background-size: 35%;
    background-position: top right;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    opacity: 0.3;
  }
  /* ----------------------------------------------------------------- */

  /* ------------------ This is hiding/removing the box-img from the page   */
  .box-text {
    font-size: 1.6em;
    min-width: 70%;
    padding: 0 20px 0 30px;
    margin: 0;
  }

  .box-img {
    visibility: collapse;
    height: 0;
    padding: 7px;
  }
  /* -------------------------------------------------------------------- */
}

@media screen and (max-width: 768px) {
  .content-box {
    min-height: calc(100vh - 97px);
  }

  h1 {
    font-size: 1.8em;
  }

  .h1LogedIn {
    font-size: 32px;
    margin-top: 37px;
  }

  h2,
  h3 {
    margin-top: 10px;
    padding: 20px 0;
    font-size: 30px;
  }

  h2 {
    margin-bottom: 0;
  }

  .box-text {
    max-width: 85%;
    padding-left: 10%;
  }

  .box-text p {
    line-height: 1.5em;
  }

  #pLetsBegin {
    margin-top: 30px;
  }

  .button-register,
  .btnChallenges {
    height: 88px;
    min-width: unset;
    font-size: 1.3em;
  }

  .btns {
    height: 64px;
    font-size: 1.7em;
  }

  .how-text {
    margin: 0 29px;
  }
}

@media screen and (max-width: 576px) {
  .content-box {
    min-height: calc(100vh - 92px);
  }

  h1 {
    font-size: 1.5em;
  }
  .h1LogedIn {
    font-size: 30px;
    margin-top: 37px;
  }
  .name {
    padding-left: 3%;
  }

  h2,
  h3 {
    margin-top: 10px;
    padding: 15px 0;
    font-size: 1.6em;
  }

  .box-text {
    font-size: 1.4em;
    padding: 0;
    width: 100%;
    min-width: 100%;
    text-align: center;
  }

  #pLetsBegin {
    margin-top: 25px;
  }

  .box-text p,
  h1 {
    padding-left: 7%;
    padding-right: 3%;
    text-align: left;
  }

  /* .box-text h1,
  p {
    text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white,
      1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
  } */

  .button-register,
  .btnChallenges {
    height: 60px;
    width: 60%;
    font-size: 1.1em;
  }

  .box-img {
    max-width: 212px;
    min-width: 50%;
    padding: 0;
    margin-bottom: 25px;
  }

  .how-text {
    margin: 0 16px;
  }

  .how-text p {
    font-size: 16px;
  }

  .btns {
    height: 50px;
    font-size: 1.4em;
  }

  .container3 {
    padding-bottom: 25px;
  }
}

@media (max-width: 481px) {
  h1 {
    margin-top: 15px;
  }
  .h1LogedIn {
    font-size: 28px;
    margin-top: 37px;
  }
  .box-text p {
    font-size: 22px;
  }

  .btns-div {
    width: 100%;
  }

  .btns {
    width: 80%;
  }

  .how-text {
    margin: 0 17px;
  }
}

@media (max-width: 425px) {
  .box-text p {
    font-size: 21px;
    line-height: 1.3em;
  }

  .btns {
    width: 85%;
  }
}

@media (max-width: 375px) {
  .content-box {
    min-height: calc(100vh - 82px);
  }

  h1 {
    font-size: 1.3em;
  }

  .h1LogedIn {
    font-size: 26px;
    margin-top: 30px;
  }

  .box-text p {
    font-size: 19px;
    line-height: 1.3em;
  }

  .button-register,
  .btnChallenges {
    height: 50px;
    font-size: 1em;
  }

  .btns {
    width: 90%;
    height: 45px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.2em;
  }

  .h1LogedIn {
    font-size: 24px;
    margin-top: 27px;
  }

  .box-text p {
    font-size: 17px;
    line-height: 1.3em;
  }

  .button-register,
  .btnChallenges {
    width: 60%;
    font-size: 0.9em;
  }

  .btns {
    width: 95%;
    margin: 5px;
    height: 40px;
  }
}

@media (max-width: 246px) {
  h1 {
    font-size: 1em;
  }

  .h1LogedIn {
    font-size: 20px;
    margin-top: 27px;
  }

  h2,
  h3 {
    font-size: 1.1em;
  }

  .box-text p {
    font-size: 15px;
    line-height: 1.3em;
  }

  .button-register,
  .btnChallenges {
    height: 40px;
    width: 80%;
    font-size: 0.7em;
  }

  .how-text {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }

  .how-text p {
    width: 100%;
    font-size: 14px;
    margin: 10px 0;
  }

  .btns-div {
    min-width: 100%;
  }

  .btns {
    height: 35px;
    width: 95%;
    min-width: 50px;
    font-size: 1.1em;
    margin: 5px 0;
  }
}
