.pageContent{
  display: flex;
  position: relative;
  background: white;
  width: 100%;
  justify-content: center;
}
.pageContent::before {
  position: absolute;
  content: "";
  background-image: url("./earthCroppedBottom.png");
  background-size: 30%;
  background-position: bottom left;
  background-attachment: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.profileDiv{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid black;
  min-width: 25%;
}

.pictureDiv{
  margin-top: 70px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}

.pictureDiv img{
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.container {
  position: relative;
  padding-left:  6rem;
}

.container h2{
  width: 85%;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.challenge {
  padding: 7px;
  width: 85%;
}

.challenge button {
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 5px;
}

.completed {
  background-color: green;
}

.default {
  background-color: gray;
}

.delete {
  background-color: rgb(226, 36, 36);
}
