.content {
  min-height: calc(100vh - 142px);
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.h1-categories {
  font-size: 4em;
  text-align: center;
  letter-spacing: 2px;
  background: white;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.categories_h2 {
  margin: 15px 10px 0 10px;
  font-size: 38px;
}

.btn_div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.btn_div a {
  width: 65%;
  max-width: 512px;
  text-align: center;
}

.category-box h4 {
  letter-spacing: 1.5px;
  margin: 10px;
  color: #204768;
  font-size: larger;
}

.container-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: white;
  margin-bottom: 0px;
}

.container-div a {
  text-decoration: none;
  color: black;
}

.category-box {
  flex: 2;
  width: 100%;
  max-width: 240px;
  min-width: 200px;
  height: 310px;
  margin: 30px 25px;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  background: whitesmoke;
  border: 1px solid #204768;
  box-shadow: 0 0.5em 0.5em -0.3em grey;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.category-box:hover {
  transform: translateY(-0.4em);
  box-shadow: 0 0.7em 0.7em -0.3em #204768;
  border: 2px solid #204768;
  transition: all 0.3s ease-in-out;
  margin: 29px 24px;
}

.category-box img {
  margin: 0px;
  padding: 3px;
  padding-top: 15px;
  height: 65px;
}

#register_cattegories_page {
  font-size: 40px;
  max-width: 340px;
  color: white;
  text-decoration: none;
}

#register_cattegories_page a {
  color: white;
  text-decoration: none;
}

.pLastOnPage {
  text-align: center;
  margin: 40px 0 80px 0;
  font-size: 27px;
}

@media (max-width: 1440px) {
  .content {
    min-height: calc(100vh - 112px);
  }

  .h1-categories {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 5px;
  }

  .categories_h2 {
    font-size: 30px;
  }

  .category-box {
    flex: 2;
    width: 100%;
    max-width: 213px;
    min-width: 200px;
    font-size: 18px;
  }

  .category-box:hover {
    margin: 29px 24px;
  }

  #register_cattegories_page {
    font-size: 26px;
  }

  .btn_div a {
    width: 65%;
    max-width: 450px;
  }

  .pLastOnPage {
    font-size: 26px;
  }
}

@media (max-width: 1200px) {
  .content {
    min-height: calc(100vh - 102px);
  }

  .h1-categories {
    font-size: 35px;
  }

  .category-box {
    width: 100%;
    max-width: 213px;
    min-width: 160px;
    font-size: 17px;
    margin: 30px 15px;
    height: unset;
  }

  .category-box:hover {
    margin: 29px 14px;
  }

  .category-box img {
    height: 55px;
  }

  .btn_div a {
    width: 65%;
    max-width: 430px;
  }

  .pLastOnPage {
    margin: 40px 0 60px 0;
    font-size: 25px;
  }

  #register_cattegories_page {
    margin: 5px 0 50px 0;
  }
}

@media (max-width: 1024px) {
  .content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  
  .category-box {
    height: auto;
  }
}

@media (max-width: 992px) {
  .h1-categories {
    font-size: 33px;
  }

  .category-box {
    max-width: 195px;
    min-width: 155px;
    font-size: 15px;
    margin: 30px 10px;
    padding: 5px;
  }

  .category-box:hover {
    margin: 29px 9px;
  }

  .category-box img {
    padding-top: 10px;
    height: 50px;
  }

  .categories_h2 {
    font-size: 1.7em;
    padding: 0px;
    margin: 20 10px;
  }

  #register_cattegories_page {
    max-width: 250px;
  }

  .pLastOnPage {
    margin: 35px 0 50px 0;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .content {
    min-height: calc(100vh - 97px);
  }

  .h1-categories {
    font-size: 30px;
    padding-top: 30px;
  }

  .container-div {
    justify-content: center;
    padding: 15px 10%;
  }

  .category-box {
    width: 100%;
    max-width: 185px;
    margin: 20px 20px;
  }

  .category-box:hover {
    margin: 19px 19px;
  }

  .category-box p {
    padding: 0 5px;
  }

  .container-div {
    justify-content: center;
  }

  .btn_div {
    margin-top: 10px;
  }

  .categories_h2 {
    font-size: 1.6em;
    margin: 15px 7px;
  }

  #register_cattegories_page {
    font-size: 24px;
  }

  .pLastOnPage {
    margin: 20px 0 40px 0;
    font-size: 23px;
  }
}

@media (max-width: 576px) {
  .content {
    min-height: calc(100vh - 92px);
  }

  .container-div {
    padding-top: 0;
  }

  .h1-categories {
    font-size: 28px;
    padding-top: 15px;
  }

  .category-box {
    max-width: 155px;
    min-width: 130px;
    margin: 20px 20px;
    padding: 5px;
    font-size: 0.9em;
  }

  .category-box:hover {
    margin: 19px 19px;
  }

  .category-box img {
    height: 45px;
  }

  .categories_h2 {
    font-size: 1.5em;
  }

  #register_cattegories_page {
    font-size: 22px;
  }

  .pLastOnPage {
    font-size: 19px;
  }
}

@media (max-width: 481px) {
  .container-div {
    padding: 0;
    padding-bottom: 15px;
  }

  .h1-categories {
    font-size: 25px;
    padding-top: 10px;
  }

  .category-box {
    max-width: 135px;
    min-width: 125px;
    margin: 17px;
    font-size: 0.75em;
  }

  .category-box:hover {
    margin: 16px 16px;
  }

  .category-box h4 {
    margin-top: 3px;
  }

  .category-box img {
    height: 35px;
  }

  .categories_h2 {
    font-size: 1.3em;
  }

  #register_cattegories_page {
    font-size: 20px;
    max-width: 200px;
  }

  .pLastOnPage {
    margin: 15px 5px 30px 5px;
    font-size: 17px;
  }
}

@media (max-width: 425px) {
  .h1-categories {
    font-size: 23px;
  }

  .category-box {
    max-width: 118px;
    min-width: 100px;
    font-size: 0.7em;
  }

  .category-box:hover {
    margin: 16px 16px;
  }

  .categories_h2 {
    font-size: 1.2em;
  }

  #register_cattegories_page {
    font-size: 18px;
  }

  .pLastOnPage {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .content {
    min-height: calc(100vh - 82px);
  }

  .h1-categories {
    font-size: 21px;
  }

  .category-box {
    max-width: 120px;
    margin: 10px;
    font-size: 0.69em;
  }

  .category-box:hover {
    margin: 9px 9px;
  }

  .categories_h2 {
    font-size: 1.1em;
    margin-top: 10px;
  }

  #register_cattegories_page {
    font-size: 17px;
    max-width: 160px;
  }

  .pLastOnPage {
    margin: 0 5px 25px 5px;
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .container-div {
    padding: 5px 4px 15px 4px;
  }

  .h1-categories {
    font-size: 20px;
  }

  .category-box {
    min-width: 100%;
    height: 150px;
    margin: 7px 0;
    padding: 0;
  }

  .category-box:hover {
    margin: 6px 0;
    transform: translateZ(-0.3em);
  }

  .category-box h4 {
    font-size: 1.5em;
  }

  .categories_h2 {
    font-size: 1em;
    margin-top: 4px;
  }

  #register_cattegories_page {
    font-size: 17px;
    width: inherit;
  }

  .pLastOnPage {
    font-size: 14px;
  }
}

@media (max-width: 246px) {
  .h1-categories {
    font-size: 18px;
  }

  .category-box {
    height: auto;
  }

  .category-box h4 {
    font-size: small;
  }

  .btn_div a {
    font-size: xx-small;
  }

  .categories_h2 {
    font-size: 0.9em;
  }

  #register_cattegories_page {
    font-size: 14px;
    width: 100%;
  }

  .pLastOnPage {
    font-size: 13px;
  }
}
