.h1-categories {
  text-align: center;
  letter-spacing: 2px;
  background: white;
  margin: 0;
  padding-top: 30px;
  text-shadow: 0.5px 0.5px 1px #3e93a7;
}

.categories_h2 {
  margin-top: 15px;
}

.btn_div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

#register_cattegories_page {
  margin: auto;
  width: 450px;
}

.category-box h4 {
  letter-spacing: 1.5px;
  margin: 10px;
  text-shadow: 0.5px 0.5px 0.5px black;
  color: #3e93a7;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-div {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  background: white;
  padding-bottom: 15px;
  margin-bottom: 0px;
  /* width: 100%; */

  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: white; */
}

.container-div a {
  text-decoration: none;
  color: black;
}

.category-box {
  flex: 2;
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  height: 80%;
  margin: 30px 25px;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  background: whitesmoke;
  border: 1px solid #1dad78;
  border-radius: 5px;
  box-shadow: 0 0.5em 0.5em -0.3em grey;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.category-box:hover {
  transform: translateY(-0.4em);
  box-shadow: 0 0.7em 0.7em -0.3em #0f6143;
  border: 2px solid #1eac78;
  transition: all 0.3s ease-in-out;
  margin: 29px 24px;
}

.category-box img {
  margin: 0px;
  padding: 3px;
  height: 115px;
  width: 115px;
}

@media (max-width: 1345px) {

  .category-box {
    flex: 2;
    width: 100%;
    max-width: 215px;
    min-width: 200px;
    height: 75%;
    font-size: 19px;
  }
}

@media (max-width: 1201px) {

  .container-div {
    justify-content: center;
    padding: 0 9%;
  }

  .category-box {
    max-width: 250px;
    min-width: 200px;
  }
}
@media (max-width: 992px) {

  .container-div {
    padding: 0;
  }
}

@media (max-width: 768px) {

  .category-box {
    width: 100%;
    max-width: 206px;
    font-size: 1.1em;
    height: 75%;
  }

  .category-box p {
    padding: 0 10px;
  }

  .category-box img {
    width: 85px;
    height: 85px;
  }

  .container-div {
    justify-content: center;
    padding: 0;
  }
}

@media (max-width: 576px) {

  .category-box {
    max-width: 155px;
    min-width: 100px;
    height: 248px;
    margin: 20px 20px;
    padding: 10px;
    font-size: 0.9em;
  }

  .category-box img {
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 481px) {

  .h1-categories {
    padding-top: 15px;
  }

  .category-box {
    max-width: 135px;
    min-width: 50px;
    height: 192px;
    margin: 18px 20px 13px 18px;
    padding: 15px;
    font-size: 0.75em;
  }
  
  .category-box h4 {
    margin-top: 3px;
  }

  .category-box img {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 425px) {
  .h1-categories {
    padding-top: 13px;
  }
  .category-box {
    max-width: 125px;
    min-width: 70px;
    height: 180px;
    margin: 20px 25px 17px 25px;
    padding: 5px 5px 20px 5px;
    font-size: 0.70em;
  }
}

@media (max-width: 377px) {

  .category-box {
    max-width: 125px;
    min-width: 70px;
    height: 180px;
    margin: 10px;
    padding: 5px 5px 20px 5px;
    font-size: 0.69em;
  }

}

@media (max-width: 320px) {

  .container-div{
    padding: 5px 4px 15px 4px;
  }

  .category-box {
    max-width: inherit;
    height: 150px;
    margin:10px 0;
    padding: 0;
    font-size: 0.69em;
  }

  .category-box h4 {
    font-size: 1.5em;
  }
}

@media (max-width: 246px) {

  .container-div{
    padding: 5px 4px 15px 4px;
  }

  .category-box {
    max-width: inherit;
    height: inherit;
    margin:10px 0;
    padding: 0;
    font-size: 0.69em;
  }

  .category-box h4 {
    font-size: 1.5em;
  }

}