.h1-categories {
  text-align: center;
  letter-spacing: 2px;
  background: white;
  margin: 0;
  padding-top: 30px;
  text-shadow: 0.5px 0.5px 1px #3e93a7;
}

.categories_h2 {
  margin-top: 15px;
}

.btn_div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

#register_cattegories_page {
  margin: auto;
  width: 450px;
}

.category-box h4 {
  letter-spacing: 1.5px;
  margin: 10px;
  text-shadow: 0.5px 0.5px 0.5px black;
  color: #3e93a7;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container-div {
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  background: white;
  padding-bottom: 15px;
  margin-bottom: 0px;
  /* width: 100%; */

  /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: white; */
}

.container-div a {
  text-decoration: none;
  color: black;
}

.category-box {
  flex: 2;
  /* position: relative; */
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  margin: 30px 25px;
  padding: 9px;
  font-size: 20px;
  text-align: center;
  background: whitesmoke;
  border: 1px solid #1dad78;
  box-shadow: 0 0.5em 0.5em -0.3em grey;
  justify-content: center;
}

.category-box:hover {
  transform: translateY(-0.4em);
  box-shadow: 0 0.9em 0.9em -0.3em #1dad78;
  border: 2px solid #1eac78;
  transition: all 0.3s ease-in-out;
}

.category-box img {
  margin: 0px;
  padding: 3px;
  height: 150px;
  width: 150px;
}

/* .category-box a{
    cursor: none;
} */
