.navbar {
  background: #b2daac;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 2px solid white;
  /* box-shadow: 0 0.5em 0.5em -0.3em gray; */
}

.navbar-logo-name {
  margin-left: 2rem;
  font-size: 30px;
  font-weight: 700;
}

.nav-logo-link {
  text-decoration: none;
  color: #204768;
}

.log-out-btn {
  padding: 5px 10px;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
  background-color: #204768;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.2rem;
  margin-top: -5px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  list-style: none;
  text-align: center;
  width: 50%;
  justify-content: end;
  margin-right: 1rem;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-links a {
  margin: 0;
}

li {
  display: inline;
}

.nav-links:hover {
  background-color: #95bb8f;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.navbar-menu-icon {
  display: none;
}

@media screen and (max-width: 1440px) {

  .navbar {
    height: 70px;
  }
}

@media screen and (max-width: 1200px) {

  .navbar {
    height: 60px;
  }
}

@media screen and (max-width: 1024px) {

  .navbar-logo-name {
    margin-left: 2rem;
    font-size: 27px;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {

  .navbar {
    position: relative;
  }

  .navbar-logo-name {
    margin-left: auto;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
    position: absolute;
    top: 61px;
    left: -250%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #dcfbd8;
    border-bottom: 2px solid #b2daac;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    left: 0;
    opacity: 1;
    z-index: 1;
    margin-top: 0;
    padding: 0;
    justify-content: center;
  }

  .nav-links {
    text-align: center;
    padding: 1.3rem 0;
    width: 100%;
    display: table;
  }

  .nav-links:hover,
  li:hover {
    background-color: #b2dfab;
    border-radius: 0;
  }

  .logOutLi {
    padding: 17px;
  }

  .navbar-menu-icon {
    color: #204768;
    margin: 10px;
    display: block;
    position: relative;
    right: 15px;
    transform: translate(-100, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 576px) {

  .navbar {
    height: 55px;
  }

  .navbar-logo-name {
    font-size: 24px;
  }

  .navbar-menu-icon {
    font-size: 1.5rem;
  }

  .nav-menu {
    height: 210px;
    top: 56px;
  }

  .nav-links {
    padding: 1rem 0;
  }

  .logOutLi {
    padding: 14px;
  }
}

@media screen and (max-width: 481px) {

  .navbar-logo-name {
    font-size: 21px;
  }

  .navbar-menu-icon {
    font-size: 1.4rem;
    right: 0;
  }
}

@media screen and (max-width: 425px) {

  .navbar-logo-name {
    font-size: 20px;
  }

  .navbar-menu-icon {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 375px) {

  .navbar {
    height: 45px;
  }

  .navbar-logo-name {
    font-size: 18px;
  }

  .navbar-menu-icon {
    font-size: 1.2rem;
  }

  .nav-menu {
    height: 180px;
    top: 46px;
  }

  .nav-links {
    padding: 0.8rem 0;
    font-size: 16px;
  }

  .logOutLi {
    padding: 10px;
  }
}

@media screen and (max-width: 246px) {

  .navbar-logo-name {
    font-size: 16px;
  }

  .navbar-menu-icon {
    font-size: 1.1rem;
  }

  .nav-menu {
    height: 160px;
  }

  .nav-links {
    font-size: 14px;
  }

  .logOutLi {
    padding: 6px 0;
  }

  .log-out-btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 150px) {
  
  .navbar-logo-name {
    font-size: 13px;
  }

  .navbar-menu-icon {
    font-size: 1.1rem;
  }
}
