#clicked {
  /* color: white;
  background-color: #3e93a7; */
  font-weight: 700;
  /* border: 1px solid black; */

}

.container-category-page {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  /* align-items: flex-start; */
  background: whitesmoke;
  margin-bottom: 10px;
}

.toggle-btns-div {
  background-color: white;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  border-bottom: 2px solid black;
  border-radius: 6px;
}

.toggle-btns {
  /* color: white; */
  /* background-color: rgba(62, 147, 167, 0.22); */
  border-radius:5px;
  background-color: white;
  border: 1px solid white;
  font-family: 'Spartan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-weight: 400;
  width: 100%;
  /* padding: auto; */
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0px 1px;
  /* box-shadow: 0 0.3em 0.3em -0.4em #1b4049; */
  transition: all .3s ease;
}

.toggle-btns:hover {
  margin: 0;
  /* padding-bottom: 8px; */
  border: 1px solid black;
  cursor: pointer;
  /* transform: translateY(-0.1em); */
  box-shadow: 0 0.7em 0.7em -0.7em #1b4049;
  transition: all 0.3s ease-in-out;
}

.callengeBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  max-width: 940px;
  background-color: white;
  /* border: 2px solid #1dad78; */
  border-radius: 1.5%;
  padding: 0 30px 15px 30px;
  margin: 1rem 1rem 0 1rem;
  /* border-bottom: 1px solid black; */
  box-shadow: 20px 26px 10px -24px #1b4049;
}

.callengeBox h2 {
  color: #FB6B4A;
  width: 100%;
  margin-top: 10px;
  font-family: 'Spartan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p-div {
  align-content: flex-start;
  padding: 0 1rem;
}
.p-div p {
    line-height: 1.7rem;
    font-family: 'Spartan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.add-challenge-btn {
  color: white;
  background-color: #FB6B4A;
  font-size: 20px;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  box-shadow: 0 0.2em 0.2em -0.2em black;
  font-family: 'Spartan', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .3s ease;
  cursor: pointer;
}


.add-challenge-btn:hover {
 
  transform: translateY(-0.2em);
  box-shadow: 0 0.6em 0.6em -0.4em #1b4049;
  transition: all 0.2s ease-in-out;

}

.add-challenge-btn:disabled {
  background-color: rgb(197, 197, 197);
  color: gray;
  box-shadow: none;
  cursor: not-allowed;
}


.add-challenge-btn:disabled:hover {
  transform: translate(0);
  box-shadow: none;
}
.bottom-div {
  width: 100%;
  background-color: white;
  margin-top: 50px;
  padding: 0 20px 50px 20px;
}

.hide {
  display: none;
}

.show {
  display: flex ;
}

/* .back-to-categories-div a {
  text-decoration: none;
  color: #3e93a7;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0.5px 0.5px 0.5px #021114;
  letter-spacing: 0.1rem;
} */
/* .back-to-categories-div a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;
  text-shadow: 1px 1px 1px black;

} */